/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Css */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	min-height: 100vh;
}
a {
	color: inherit;
	text-decoration: none;
}

@layer components {
	.box {
		@apply bg-gradient-to-b from-black/10 to-black/30 rounded-xl shadow-md shadow-t-alt/40;
	}
}
