/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Css */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	min-height: 100vh;
}
a {
	color: inherit;
	text-decoration: none;
}

@layer components {
	.box {
		@apply bg-gradient-to-b from-black/10 to-black/30 rounded-xl shadow-md shadow-t-alt/40;
	}
	.custom-underline {
		@apply z-10 relative before:absolute before:left-0 before:right-full before:-bottom-1 before:h-1 before:bg-gradient-to-r before:from-gradient-top before:to-accent before:rounded-full hover:before:right-0 before:transition-all before:duration-[0.4s] before:-z-10;
	}
}
