/* Tailwind Config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Css */
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	min-height: 100vh;
}
a {
	color: inherit;
	text-decoration: none;
}

@layer components {
	.box {
		@apply bg-gradient-to-b from-black/10 to-black/30 rounded-xl shadow-md shadow-t-alt/40;
	}
	.custom-underline {
		@apply z-10 relative before:absolute before:left-0 before:right-full before:-bottom-2 before:h-1 before:bg-gradient-to-r before:from-gradient-top before:to-accent before:rounded-full hover:before:right-0 before:transition-all before:duration-[0.4s] before:-z-10;
	}
	.border-gradient::before {
		content: "";
		position: absolute;
		padding: 5px;
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: xor;
		mask-composite: exclude;
	}
	.cta {
		@apply text-accent border-2 border-accent rounded-full custom-underline hover:border-transparent hover:text-text transition duration-[0.4s];
	}
	.last-section section:last-child {
		margin-bottom: 0;
	}
	.url {
		@apply inline-block px-5 py-1 bg-t-alt/60 border-b-2 border-accent rounded-sm font-fredoka tracking-wider;
	}
}
