// Color Variables
$primary: #36393f;
$secondary: #2f3136;
$tertiary: #202225;
$accent: #3293ee;
$text: #dcddde;
$muted: #72767d;
$secondary-alt: #292b2f;
$tertiary-alt: #17171a;
$danger: #e01e5a;
$success: #3ae717;
$warning: #fca903;
